
.d3-component svg {
  background: #ddd;
  max-height: 300px;
}

@media all and (max-width: 1000px) {
  .d3-component svg {
    max-height: 200px;
  }
}

.x-axis .y-axis {
  font-size: 20px;
}

.idyll-root {
  color: #333333;
}
